h1.headerstyle {font-family:"Verdana"; text-align:center; color:darkblue;}
.smallheaderstyle {font-family:"Verdana"; color:darkblue; font-weight:bold;}
.textstyle {font-family:"Tahoma"; text-align:justify;}
a.linkstyle {color:darkblue;}
table.tablestyle {border-spacing:20px;}
.uliststyle{list-style-type:square;}
